.cell{
    width:20%;
    border-bottom: 1px solid black;
    float: left;
}

.row{
    width:80%;
    margin-left: 10%
}

.evenRow{
    background-color: grey;
}

.topRow{    
    border-top: 1px solid black;
}

