.mat-card-header{
    text-align: center;
    display: inline-block; 
    float: none;
    background-color: gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width:300px;
    padding-top: 4%;
}

.mat-card-title{
    vertical-align: middle;
    color: white;
    margin:auto;
    
}
.mdl-chip--contact {display: inline-block; float: none;}
.mat-card__actions {text-align:center;}


mat-card{
    width:300px;
    padding:0;
    text-align: center;
    height:120px;
  }
  .totalNumberCard  {
    background-color: yellow
  }

