.card{
    width: 500px;
   
    padding: 0;
    border-radius: 5px;
    width: 100%;
}


.card-header{
    text-align: center;
    
    padding: 0;
    margin:0;
    width:100%
}

.mat-card-header{
    text-align: center;
    display: inline-block; float: none;
    background-color: gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.mdl-chip--contact {display: inline-block; float: none;}
.mat-card__actions {text-align:center;}

.mat-card {
    width: 500px;
    text-align: center;
    height:100px;
  }
.mat-card-body{
    background-color: green;
}