
<mat-grid-list cols="5" rowHeight="2:1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile >
        <app-statistics-card [cardTitle]="totalParkingSpacesCardTitle">{{totalParkingSpacesCardBody}}</app-statistics-card>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <app-statistics-card [cardTitle]="availableParkingSpacesCardTitle">{{availableParkingSpacesCardBody}}</app-statistics-card>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <app-statistics-card [cardTitle]="categoriesCardTitle"><div *ngFor="let c of categories">
            <span>{{c.name}}</span>
            <span> Parking spaces:{{c.parkingSpaces}}</span>
        </div></app-statistics-card> 
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <app-statistics-card [cardTitle]="discountsCardTitle"><div *ngFor="let d of discounts">
        <span>{{d.name}}:</span>
        <span>{{d.discountPercentage}}%</span>
    </div>
</app-statistics-card> 
</mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
</mat-grid-list>